Suggestions 

Data from [MTA](http://web.mta.info/developers/turnstile.html) <br>
Description of data [here](http://web.mta.info/developers/resources/nyct/turnstile/ts_Field_Description.txt)


[GitHub](https://github.com/huge-reality/MTA_Project_Group_5)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.set_option('display.float_format', lambda x: '%.f' % x)

In [11]:
# read the data and remove spaces from column names
am = pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_180505.txt')
am.columns = am.columns.str.strip()


# add in two new columns, one that is a datetime (from the date and time columns)
# and one that is just the day of the week
am['DATETIME'] = am['DATE'] + ' ' + am['TIME']
am['DATETIME'] = pd.to_datetime(am['DATETIME'], format="%m/%d/%Y %H:%M:%S")
am['DAY'] = am['DATETIME'].dt.day_name()

# only look at M-F and the 8AM - 12PM 
am = am[(am["TIME"] == '08:00:00') | (am["TIME"] == '12:00:00')]
am = am[(am["DAY"] != 'Saturday') & (am["DAY"] != 'Sunday')]


# make three new columns:
# 1. the difference between the number of entries of the row and the row above it
# 2. same for exits
# 3. a new column that is the sum of the first two, divided by the length to normalize

am['exits_diff'] = am.groupby(['STATION', 'UNIT'])['EXITS'].transform(lambda x: x.diff())
am['entries_diff'] = am.groupby(['STATION', 'UNIT'])['ENTRIES'].transform(lambda x: x.diff())
am['am_diff'] = am['entries_diff'] + am['exits_diff']
am['am_diff'] = am['am_diff']


# remove all diff values that are negative and 
# remove all diff values that are greater than 30k
# 30k is an estimation of how many people could realistically go through a turnstile
# in a 4h period

am = am[(am['am_diff'] > 0)] 
am = am[(am['am_diff'] < 15000)] 
print(am['am_diff'].describe())


# make a new dataframe that has the aggregate sum of 
# entry/exit differences for each station/unit pair
# make a new index column
# print the result
am_agg = am.groupby(['STATION', 'UNIT']).agg({'am_diff' : 'sum'})
am_agg.reset_index(inplace=True)
am_agg.head(20)

count   20071
mean     1264
std      1158
min         1
25%       477
50%       895
75%      1728
max     13158
Name: am_diff, dtype: float64

           STATION  UNIT  am_diff
0             1 AV  R248   200306
1    103 ST-CORONA  R208   141412
2           104 ST  R007    10392
3           104 ST  R354    10101
4           110 ST  R181    91490
5           111 ST  R008    19938
6           111 ST  R310    76632
7           121 ST  R009     7909
8           125 ST  R034    71462
9           125 ST  R102   215703
10          135 ST  R207    84415
11  138/GRAND CONC  R307    27019
12           14 ST  R105   142732
13           14 ST  R163   175359
14          145 ST  R101   195842
15          145 ST  R273    80430
16          145 ST  R344    17640
17  149/GRAND CONC  R205   108571
18          167 ST  R104    62736
19          167 ST  R221    78955

In [12]:
# read the data and remove spaces from column names
mid = pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_180505.txt')
mid.columns = mid.columns.str.strip()


# add in two new columns, one that is a datetime (from the date and time columns)
# and one that is just the day of the week
mid['DATETIME'] = mid['DATE'] + ' ' + mid['TIME']
mid['DATETIME'] = pd.to_datetime(mid['DATETIME'], format="%m/%d/%Y %H:%M:%S")
mid['DAY'] = mid['DATETIME'].dt.day_name()

# only look at M-F and the 8AM - 12PM 
mid = mid[(mid["TIME"] == '12:00:00') | (mid["TIME"] == '16:00:00')]
mid = mid[(mid["DAY"] != 'Saturday') & (mid["DAY"] != 'Sunday')]

# make three new columns:
# 1. the difference between the number of entries of the row and the row above it
# 2. same for exits
# 3. a new column that is the sum of the first two , divided by the length to normalize

mid['exits_diff'] = mid.groupby(['STATION', 'UNIT'])['EXITS'].transform(lambda x: x.diff())
mid['entries_diff'] = mid.groupby(['STATION', 'UNIT'])['ENTRIES'].transform(lambda x: x.diff())
mid['mid_diff'] = mid['entries_diff'] + mid['exits_diff']
mid['mid_diff'] = mid['mid_diff']



# remove all diff values that are negative and 
# remove all diff values that are greater than 30k
# 30k is an estimation of how many people could realistically go through a turnstile
# in a 4h period

mid = mid[(mid['mid_diff'] > 0)] 
mid = mid[(mid['mid_diff'] < 15000)] 
print(mid['mid_diff'].describe())


# make a new dataframe that has the aggregate sum of 
# entry/exit differences for each station/unit pair
# make a new index column
# print the result
mid_agg = mid.groupby(['STATION', 'UNIT']).agg({'mid_diff' : 'sum'})
mid_agg.reset_index(inplace=True)
mid_agg.head(20)

count   20065
mean     1249
std      1286
min         1
25%       369
50%       752
75%      1749
max     13126
Name: mid_diff, dtype: float64

           STATION  UNIT  mid_diff
0             1 AV  R248    199287
1    103 ST-CORONA  R208    147335
2           104 ST  R007     10270
3           104 ST  R354      9901
4           110 ST  R181     90908
5           111 ST  R008     19776
6           111 ST  R310     75422
7           121 ST  R009      7840
8           125 ST  R034     71325
9           125 ST  R102    215057
10          135 ST  R207     83174
11  138/GRAND CONC  R307     27094
12           14 ST  R105    142940
13           14 ST  R163    174355
14          145 ST  R101    193309
15          145 ST  R273     80185
16          145 ST  R344     17109
17  149/GRAND CONC  R205    108711
18          167 ST  R104     62146
19          167 ST  R221     79867

In [13]:
# read the data and remove spaces from column names
pm = pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_180505.txt')
pm.columns = pm.columns.str.strip()


# add in two new columns, one that is a datetime (from the date and time columns)
# and one that is just the day of the week
pm['DATETIME'] = pm['DATE'] + ' ' + pm['TIME']
pm['DATETIME'] = pd.to_datetime(pm['DATETIME'], format="%m/%d/%Y %H:%M:%S")
pm['DAY'] = pm['DATETIME'].dt.day_name()

# only look at M-F and the 4PM - 8PM 
pm = pm[(pm["TIME"] == '16:00:00') | (pm["TIME"] == '20:00:00')]
pm = pm[(pm["DAY"] != 'Saturday') & (pm["DAY"] != 'Sunday')]

# make three new columns:
# 1. the difference between the number of entries of the row and the row above it
# 2. same for exits
# 3. a new column that is the sum of the first two, divided by the length to normalize

pm['exits_diff'] = pm.groupby(['STATION', 'UNIT'])['EXITS'].transform(lambda x: x.diff())
pm['entries_diff'] = pm.groupby(['STATION', 'UNIT'])['ENTRIES'].transform(lambda x: x.diff())
pm['pm_diff'] = pm['entries_diff'] + pm['exits_diff']
pm['pm_diff'] = pm['pm_diff']


# remove all diff values that are negative and 
# remove all diff values that are greater than 30k
# 30k is an estimation of how many people could realistically go through a turnstile
# in a 4h period

pm = pm[(pm['pm_diff'] > 0)] 
pm = pm[(pm['pm_diff'] < 15000)] 
print(pm['pm_diff'].describe())


# make a new dataframe that has the aggregate sum of 
# entry/exit differences for each station/unit pair
# make a new index column
# print the result
pm_agg = pm.groupby(['STATION', 'UNIT']).agg({'pm_diff' : 'sum'})
pm_agg.reset_index(inplace=True)
pm_agg.head(20)

count   20082
mean     1281
std      1070
min         1
25%       511
50%       993
75%      1753
max     13256
Name: pm_diff, dtype: float64

           STATION  UNIT  pm_diff
0             1 AV  R248   204524
1    103 ST-CORONA  R208   150150
2           104 ST  R007    10646
3           104 ST  R354     9992
4           110 ST  R181    92085
5           111 ST  R008    20114
6           111 ST  R310    76759
7           121 ST  R009     7887
8           125 ST  R034    73071
9           125 ST  R102   220728
10          135 ST  R207    83976
11  138/GRAND CONC  R307    27210
12           14 ST  R105   147536
13           14 ST  R163   180740
14          145 ST  R101   197044
15          145 ST  R273    81483
16          145 ST  R344    17169
17  149/GRAND CONC  R205   108722
18          167 ST  R104    62620
19          167 ST  R221    81110

In [15]:
# make a new df by copying the am aggregate df
final = am_agg
print(final.head())

# add two new columns to include the mid-day and evening commute
# diff values
final['mid_diff'] = mid_agg['mid_diff'].values
final['pm_diff'] = pm_agg['pm_diff'].values

# make two new columns comparing the mid-day traffic to
# both the morning and the evening
final['am_v_mid'] = final['am_diff'] - final['mid_diff']
final['pm_v_mid'] = final['pm_diff'] - final['mid_diff']

# sort the df by  one of the important columns (am chosen here arbitrarily)
# and print the info to see how many rows
final.sort_values('pm_v_mid', ascending=False, inplace = True)

print(final.info())
final.head()

# get rid of all values where either evaluation is low, aribtrarily chosen
# to be 1,000 here

final = final[(final['am_v_mid'] > 1000) & (final['pm_v_mid'] > 1000)]
print(final.info())
final.head(20)

             STATION  UNIT  am_diff  mid_diff  pm_diff  am_v_mid  pm_v_mid
170  GRD CNTRL-42 ST  R046   647244    633206   655689     14038     22483
50   34 ST-HERALD SQ  R022   548004    546637   568465      1367     21828
63    47-50 STS ROCK  R020   546425    528722   550187     17703     21465
51   34 ST-HERALD SQ  R023   410148    400075   418454     10073     18379
231   TIMES SQ-42 ST  R032   426334    415702   432337     10632     16635
<class 'pandas.core.frame.DataFrame'>
Int64Index: 245 entries, 204 to 38
Data columns (total 7 columns):
STATION     245 non-null object
UNIT        245 non-null object
am_diff     245 non-null float64
mid_diff    245 non-null float64
pm_diff     245 non-null float64
am_v_mid    245 non-null float64
pm_v_mid    245 non-null float64
dtypes: float64(5), object(2)
memory usage: 15.3+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 39 entries, 159 to 175
Data columns (total 7 columns):
STATION     39 non-null object
UNIT        39 non-null object
am_diff     39 non-null float64
mid_diff    39 non-null float64
pm_diff     39 non-null float64
am_v_mid    39 non-null float64
pm_v_mid    39 non-null float64
dtypes: float64(5), object(2)
memory usage: 2.4+ KB
None

             STATION  UNIT  am_diff  mid_diff  pm_diff  am_v_mid  pm_v_mid
159    FLUSHING-MAIN  R055   451954    174355   180740    277599      6385
199   MYRTLE-WYCKOFF  R137   154970    146600   152343      8370      5743
55    34 ST-PENN STA  R031   293976    215057   220728     78919      5671
170  GRD CNTRL-42 ST  R046   647244    199287   204524    447957      5237
113       BEDFORD AV  R235   260172    142940   147536    117232      4596
12             14 ST  R105   142732    102437   106983     40295      4546
99    ATL AV-BARCLAY  R057   359329    193309   197044    166020      3735
166         GRAND ST  R240   165378    123419   126836     41959      3417
91             86 ST  R179   367043    201201   204475    165842      3274
48       3 AV-149 ST  R053   131326     66753    69791     64573      3038
120     BOROUGH HALL  R108   284230     96177    99044    188053      2867
50   34 ST-HERALD SQ  R022   548004    147335   150150    400669      2815
131         CANAL ST  R139   171412     82109    84639     89303      2530
29            181 ST  R260   111857     74350    76700     37507      2350
203      NEW LOTS AV  R069    54507     49651    51849      4856      2198
70             51 ST  R049   194122     63607    65783    130515      2176
68             50 ST  R188   135402     60602    62549     74800      1947
60   42 ST-PORT AUTH  R011   428378     71325    73071    357053      1746
40             23 ST  R111   170803    112393   114066     58410      1673
89   82 ST-JACKSON H  R096   143511     36580    38204    106931      1624