## Steps undertaken in this notebook:

1. Import and clean data using Abi's code
2. Split Dataframe in two, one for weekends and one for weekdays
3. Find average weekday and weekend volume for each station
4. Create new dataframe with difference between weekday and weekend avg volume
5. Sort by difference to find stations with highest proportion of commuters

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [2]:
# Combine three weeks worth of MTA data from late April to early May

df1 = pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_190427.txt')
df2 = pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_190504.txt')
df3 = pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_190511.txt')

df = df1.append([df2, df3])

In [3]:
# Data Cleaning 

df.columns = df.columns.str.strip()

df['DATETIME'] = df['DATE'] + ' ' + df['TIME']
df['DATETIME'] = pd.to_datetime(df['DATETIME'], format="%m/%d/%Y %H:%M:%S")

df.drop(columns=['DATE', 'TIME'], inplace=True)

df['DAY'] = df['DATETIME'].dt.day_name()

# Each turnstile can be indentified by a combination of the UNIT and SCP. Grouping by these two features allows us to get accurate
# entry and exit counts. 

df['ENTRY COUNT'] = df.groupby(['UNIT', 'SCP'])['ENTRIES'].transform(lambda x: x.diff())
df['EXIT COUNT'] = df.groupby(['UNIT', 'SCP'])['EXITS'].transform(lambda x: x.diff())

In [4]:
df = df[(df['ENTRY COUNT'] >= 0) & (df['EXIT COUNT'] >= 0)]

In [5]:
df = df[(df['ENTRY COUNT'] < 15000 ) & (df['EXIT COUNT'] < 15000)]

In [6]:
# Adding a new column which calculates the total volume for each row, i.e. entries and exits for the 4 hr timeframe
df['VOLUME'] = df['ENTRY COUNT'] + df['EXIT COUNT']
df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DESC,ENTRIES,EXITS,DATETIME,DAY,ENTRY COUNT,EXIT COUNT,VOLUME
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,7026719,2382240,2019-04-20 04:00:00,Saturday,17.000,6.000,23.000
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,7026737,2382269,2019-04-20 08:00:00,Saturday,18.000,29.000,47.000
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,7026814,2382335,2019-04-20 12:00:00,Saturday,77.000,66.000,143.000
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,7027007,2382395,2019-04-20 16:00:00,Saturday,193.000,60.000,253.000
5,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,7027293,2382427,2019-04-20 20:00:00,Saturday,286.000,32.000,318.000

In [7]:
# Adding yet ANOTHER column for date, so that I can get daily total volumes
df['DATE'] = df['DATETIME'].dt.strftime('%m/%d/%Y')
df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DESC,ENTRIES,EXITS,DATETIME,DAY,ENTRY COUNT,EXIT COUNT,VOLUME,DATE
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,7026719,2382240,2019-04-20 04:00:00,Saturday,17.000,6.000,23.000,04/20/2019
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,7026737,2382269,2019-04-20 08:00:00,Saturday,18.000,29.000,47.000,04/20/2019
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,7026814,2382335,2019-04-20 12:00:00,Saturday,77.000,66.000,143.000,04/20/2019
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,7027007,2382395,2019-04-20 16:00:00,Saturday,193.000,60.000,253.000,04/20/2019
5,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,7027293,2382427,2019-04-20 20:00:00,Saturday,286.000,32.000,318.000,04/20/2019

In [8]:
# Splitting into two data frames
weekends = df[(df.DAY == "Saturday") | (df.DAY == "Sunday")]
weekdays = df[(df.DAY != "Saturday") & (df.DAY != "Sunday")]

Getting average volume, per station, per day, starting by getting the total volume for each station for each calendar day

In [9]:
weekday_totals = weekdays.groupby(['STATION', 'DATE']).agg({'VOLUME' : 'sum'})

weekend_totals = weekends.groupby(['STATION', 'DATE']).agg({'VOLUME' : 'sum'})

In [10]:
weekday_totals.reset_index()

        STATION        DATE    VOLUME
0          1 AV  04/22/2019 35706.000
1          1 AV  04/23/2019 36389.000
2          1 AV  04/24/2019 37278.000
3          1 AV  04/25/2019 38619.000
4          1 AV  04/26/2019 38401.000
5          1 AV  04/29/2019 36454.000
6          1 AV  04/30/2019 39009.000
7          1 AV  05/01/2019 40345.000
8          1 AV  05/02/2019 40741.000
9          1 AV  05/03/2019 42397.000
10         1 AV  05/06/2019 36691.000
11         1 AV  05/07/2019 39146.000
12         1 AV  05/08/2019 40615.000
13         1 AV  05/09/2019 41254.000
14         1 AV  05/10/2019 41024.000
15       103 ST  04/22/2019 44553.000
16       103 ST  04/23/2019 49046.000
17       103 ST  04/24/2019 49450.000
18       103 ST  04/25/2019 49764.000
19       103 ST  04/26/2019 48046.000
20       103 ST  04/29/2019 51409.000
21       103 ST  04/30/2019 53743.000
22       103 ST  05/01/2019 54996.000
23       103 ST  05/02/2019 55203.000
24       103 ST  05/03/2019 54386.000
25       103 ST  05/06/2019 51430.000
26       103 ST  05/07/2019 54588.000
27       103 ST  05/08/2019 55286.000
28       103 ST  05/09/2019 55903.000
29       103 ST  05/10/2019 53401.000
...         ...         ...       ...
5614    YORK ST  04/22/2019 16033.000
5615    YORK ST  04/23/2019 19277.000
5616    YORK ST  04/24/2019 18987.000
5617    YORK ST  04/25/2019 19377.000
5618    YORK ST  04/26/2019 16282.000
5619    YORK ST  04/29/2019 17827.000
5620    YORK ST  04/30/2019 17759.000
5621    YORK ST  05/01/2019 18409.000
5622    YORK ST  05/02/2019 19218.000
5623    YORK ST  05/03/2019 18602.000
5624    YORK ST  05/06/2019 18841.000
5625    YORK ST  05/07/2019 19069.000
5626    YORK ST  05/08/2019 19250.000
5627    YORK ST  05/09/2019 19483.000
5628    YORK ST  05/10/2019 17801.000
5629  ZEREGA AV  04/22/2019  4384.000
5630  ZEREGA AV  04/23/2019  4789.000
5631  ZEREGA AV  04/24/2019  4858.000
5632  ZEREGA AV  04/25/2019  4877.000
5633  ZEREGA AV  04/26/2019  4379.000
5634  ZEREGA AV  04/29/2019  5285.000
5635  ZEREGA AV  04/30/2019  5352.000
5636  ZEREGA AV  05/01/2019  5600.000
5637  ZEREGA AV  05/02/2019  5499.000
5638  ZEREGA AV  05/03/2019  5344.000
5639  ZEREGA AV  05/06/2019  5306.000
5640  ZEREGA AV  05/07/2019  5481.000
5641  ZEREGA AV  05/08/2019  5662.000
5642  ZEREGA AV  05/09/2019  5619.000
5643  ZEREGA AV  05/10/2019  4940.000

[5644 rows x 3 columns]

In [11]:
weekend_totals.reset_index()

              STATION        DATE    VOLUME
0                1 AV  04/20/2019 22404.000
1                1 AV  04/21/2019 24402.000
2                1 AV  04/27/2019 17079.000
3                1 AV  04/28/2019 12444.000
4                1 AV  05/04/2019 17728.000
5                1 AV  05/05/2019 13728.000
6              103 ST  04/20/2019 25214.000
7              103 ST  04/21/2019 25636.000
8              103 ST  04/27/2019 33985.000
9              103 ST  04/28/2019 28262.000
10             103 ST  05/04/2019 34720.000
11             103 ST  05/05/2019 28119.000
12      103 ST-CORONA  04/20/2019 19596.000
13      103 ST-CORONA  04/21/2019 19423.000
14      103 ST-CORONA  04/27/2019 26372.000
15      103 ST-CORONA  04/28/2019 21698.000
16      103 ST-CORONA  05/04/2019 25265.000
17      103 ST-CORONA  05/05/2019 19749.000
18             104 ST  04/20/2019   891.000
19             104 ST  04/21/2019   873.000
20             104 ST  04/27/2019  1853.000
21             104 ST  04/28/2019  1311.000
22             104 ST  05/04/2019   591.000
23             104 ST  05/05/2019    21.000
24             110 ST  04/20/2019  9345.000
25             110 ST  04/21/2019  9872.000
26             110 ST  04/27/2019 13255.000
27             110 ST  04/28/2019 10382.000
28             110 ST  05/04/2019 13195.000
29             110 ST  05/05/2019  9983.000
...               ...         ...       ...
2232         WOODLAWN  04/20/2019  4049.000
2233         WOODLAWN  04/21/2019  4299.000
2234         WOODLAWN  04/27/2019  8320.000
2235         WOODLAWN  04/28/2019  4255.000
2236         WOODLAWN  05/04/2019  5993.000
2237         WOODLAWN  05/05/2019  4140.000
2238  WORLD TRADE CTR  04/20/2019 11978.000
2239  WORLD TRADE CTR  04/21/2019 11725.000
2240  WORLD TRADE CTR  04/27/2019 14502.000
2241  WORLD TRADE CTR  04/28/2019  9641.000
2242  WORLD TRADE CTR  05/04/2019 14807.000
2243  WORLD TRADE CTR  05/05/2019  9905.000
2244    WTC-CORTLANDT  04/20/2019 12512.000
2245    WTC-CORTLANDT  04/21/2019 10990.000
2246    WTC-CORTLANDT  04/27/2019 14017.000
2247    WTC-CORTLANDT  04/28/2019  9358.000
2248    WTC-CORTLANDT  05/04/2019 10863.000
2249    WTC-CORTLANDT  05/05/2019  7694.000
2250          YORK ST  04/20/2019  5477.000
2251          YORK ST  04/21/2019  7370.000
2252          YORK ST  04/27/2019 12853.000
2253          YORK ST  04/28/2019 10300.000
2254          YORK ST  05/04/2019 12398.000
2255          YORK ST  05/05/2019  8868.000
2256        ZEREGA AV  04/20/2019  2115.000
2257        ZEREGA AV  04/21/2019  1950.000
2258        ZEREGA AV  04/27/2019  2730.000
2259        ZEREGA AV  04/28/2019  1982.000
2260        ZEREGA AV  05/04/2019  2784.000
2261        ZEREGA AV  05/05/2019  2087.000

[2262 rows x 3 columns]

In [12]:
weekday_average = weekday_totals.groupby('STATION').mean()
weekday_average.head()

                 VOLUME
STATION
1 AV          38937.933
103 ST        52080.267
103 ST-CORONA 33784.533
104 ST         5230.600
110 ST        19662.667

In [13]:
weekend_average = weekend_totals.groupby('STATION').mean()
weekend_average.head()

                 VOLUME
STATION
1 AV          17964.167
103 ST        29322.667
103 ST-CORONA 22017.167
104 ST          923.333
110 ST        11005.333

In [14]:
weekday_average.reset_index()
weekend_average.reset_index()

             STATION     VOLUME
0               1 AV  17964.167
1             103 ST  29322.667
2      103 ST-CORONA  22017.167
3             104 ST    923.333
4             110 ST  11005.333
5             111 ST  13565.667
6             116 ST  33269.500
7    116 ST-COLUMBIA  11028.667
8             121 ST    952.333
9             125 ST  84999.167
10            135 ST  16700.500
11   137 ST CITY COL  21712.167
12    138/GRAND CONC   3514.000
13             14 ST  65825.833
14    14 ST-UNION SQ 117203.167
15            145 ST  37452.500
16    149/GRAND CONC  10523.000
17       14TH STREET  11875.167
18    15 ST-PROSPECT   4130.833
19            155 ST   7077.333
20            157 ST   6545.500
21   161/YANKEE STAD  32472.667
22   163 ST-AMSTERDM   5707.167
23            167 ST  18077.000
24            168 ST  16224.000
25            169 ST   7227.500
26            170 ST  13305.667
27            174 ST   6442.667
28       174-175 STS   3318.167
29            175 ST  12651.833
..               ...        ...
347        SUTTER AV   3119.500
348  SUTTER AV-RUTLD   7175.333
349        THIRTY ST   7558.167
350  THIRTY THIRD ST  22961.333
351   TIMES SQ-42 ST 118669.833
352    TOMPKINSVILLE    394.333
353       TREMONT AV   9189.500
354  TWENTY THIRD ST   6655.500
355         UNION ST   4822.500
356         UTICA AV  18084.833
357   V.CORTLANDT PK   2679.833
358    VAN SICLEN AV   5178.833
359   VAN SICLEN AVE   3351.667
360   VERNON-JACKSON  14496.167
361   W 4 ST-WASH SQ  59909.167
362  W 8 ST-AQUARIUM   2807.333
363    WAKEFIELD/241   5995.167
364          WALL ST  21878.333
365    WEST FARMS SQ   6567.000
366   WESTCHESTER SQ   4934.667
367  WHITEHALL S-FRY  13286.500
368      WHITLOCK AV   2016.167
369        WILSON AV   4848.667
370      WINTHROP ST   3170.000
371   WOODHAVEN BLVD  20518.167
372         WOODLAWN   5176.000
373  WORLD TRADE CTR  12093.000
374    WTC-CORTLANDT  10905.667
375          YORK ST   9544.333
376        ZEREGA AV   2274.667

[377 rows x 2 columns]

In [15]:
difference = weekday_average['VOLUME'] - weekend_average['VOLUME']

In [16]:
difference.head()

STATION
1 AV            20973.767
103 ST          22757.600
103 ST-CORONA   11767.367
104 ST           4307.267
110 ST           8657.333
Name: VOLUME, dtype: float64

In [17]:
difference = pd.DataFrame(difference)

In [18]:
type(difference)

pandas.core.frame.DataFrame

In [19]:
difference.reset_index()

             STATION    VOLUME
0               1 AV 20973.767
1             103 ST 22757.600
2      103 ST-CORONA 11767.367
3             104 ST  4307.267
4             110 ST  8657.333
5             111 ST  8912.267
6             116 ST 18285.300
7    116 ST-COLUMBIA 12799.800
8             121 ST  3587.733
9             125 ST 48702.767
10            135 ST 11615.033
11   137 ST CITY COL  3077.833
12    138/GRAND CONC  2971.800
13             14 ST 42056.367
14    14 ST-UNION SQ 85822.967
15            145 ST 27798.367
16    149/GRAND CONC  9907.000
17       14TH STREET  6626.100
18    15 ST-PROSPECT  5574.967
19            155 ST  3250.600
20            157 ST 14519.967
21   161/YANKEE STAD  5671.800
22   163 ST-AMSTERDM  2108.500
23            167 ST 11551.067
24            168 ST 15007.067
25            169 ST  8101.767
26            170 ST 10892.400
27            174 ST  4665.667
28       174-175 STS  3892.433
29            175 ST  7620.367
..               ...       ...
347        SUTTER AV  2807.700
348  SUTTER AV-RUTLD  7000.600
349        THIRTY ST 15114.433
350  THIRTY THIRD ST 18794.800
351   TIMES SQ-42 ST 77014.033
352    TOMPKINSVILLE   407.333
353       TREMONT AV  6554.967
354  TWENTY THIRD ST 13356.167
355         UNION ST  7646.367
356         UTICA AV 11424.700
357   V.CORTLANDT PK  7878.633
358    VAN SICLEN AV  6228.233
359   VAN SICLEN AVE  2508.867
360   VERNON-JACKSON 12193.367
361   W 4 ST-WASH SQ 22179.500
362  W 8 ST-AQUARIUM  1628.267
363    WAKEFIELD/241  4015.033
364          WALL ST 63153.733
365    WEST FARMS SQ  5119.133
366   WESTCHESTER SQ  6745.733
367  WHITEHALL S-FRY 23298.300
368      WHITLOCK AV  1915.100
369        WILSON AV  3546.600
370      WINTHROP ST  4769.667
371   WOODHAVEN BLVD 18898.633
372         WOODLAWN  3040.333
373  WORLD TRADE CTR 22467.667
374    WTC-CORTLANDT 14051.067
375          YORK ST  8870.000
376        ZEREGA AV  2883.667

[377 rows x 2 columns]

In [20]:
type(difference)

pandas.core.frame.DataFrame

In [21]:
difference.reset_index()

             STATION    VOLUME
0               1 AV 20973.767
1             103 ST 22757.600
2      103 ST-CORONA 11767.367
3             104 ST  4307.267
4             110 ST  8657.333
5             111 ST  8912.267
6             116 ST 18285.300
7    116 ST-COLUMBIA 12799.800
8             121 ST  3587.733
9             125 ST 48702.767
10            135 ST 11615.033
11   137 ST CITY COL  3077.833
12    138/GRAND CONC  2971.800
13             14 ST 42056.367
14    14 ST-UNION SQ 85822.967
15            145 ST 27798.367
16    149/GRAND CONC  9907.000
17       14TH STREET  6626.100
18    15 ST-PROSPECT  5574.967
19            155 ST  3250.600
20            157 ST 14519.967
21   161/YANKEE STAD  5671.800
22   163 ST-AMSTERDM  2108.500
23            167 ST 11551.067
24            168 ST 15007.067
25            169 ST  8101.767
26            170 ST 10892.400
27            174 ST  4665.667
28       174-175 STS  3892.433
29            175 ST  7620.367
..               ...       ...
347        SUTTER AV  2807.700
348  SUTTER AV-RUTLD  7000.600
349        THIRTY ST 15114.433
350  THIRTY THIRD ST 18794.800
351   TIMES SQ-42 ST 77014.033
352    TOMPKINSVILLE   407.333
353       TREMONT AV  6554.967
354  TWENTY THIRD ST 13356.167
355         UNION ST  7646.367
356         UTICA AV 11424.700
357   V.CORTLANDT PK  7878.633
358    VAN SICLEN AV  6228.233
359   VAN SICLEN AVE  2508.867
360   VERNON-JACKSON 12193.367
361   W 4 ST-WASH SQ 22179.500
362  W 8 ST-AQUARIUM  1628.267
363    WAKEFIELD/241  4015.033
364          WALL ST 63153.733
365    WEST FARMS SQ  5119.133
366   WESTCHESTER SQ  6745.733
367  WHITEHALL S-FRY 23298.300
368      WHITLOCK AV  1915.100
369        WILSON AV  3546.600
370      WINTHROP ST  4769.667
371   WOODHAVEN BLVD 18898.633
372         WOODLAWN  3040.333
373  WORLD TRADE CTR 22467.667
374    WTC-CORTLANDT 14051.067
375          YORK ST  8870.000
376        ZEREGA AV  2883.667

[377 rows x 2 columns]

In [28]:
difference.sort_values('VOLUME', ascending = False, inplace = True)

In [31]:
difference.reset_index()

             STATION     VOLUME
0    GRD CNTRL-42 ST 187532.133
1     34 ST-PENN STA 155591.300
2          FULTON ST 120888.767
3    34 ST-HERALD SQ 110090.133
4              23 ST 105874.133
5       PATH NEW WTC 105547.667
6     47-50 STS ROCK  89943.367
7     14 ST-UNION SQ  85822.967
8      FLUSHING-MAIN  77887.167
9     TIMES SQ-42 ST  77014.033
10             86 ST  70127.500
11       CHAMBERS ST  68822.333
12           WALL ST  63153.733
13   LEXINGTON AV/53  62765.400
14    59 ST COLUMBUS  62005.133
15   42 ST-PORT AUTH  61007.833
16             59 ST  60528.433
17             28 ST  53541.867
18             96 ST  53182.900
19   42 ST-BRYANT PK  52467.346
20          CANAL ST  52033.600
21            125 ST  48702.767
22        5 AV/53 ST  44353.967
23             14 ST  42056.367
24             50 ST  41937.700
25   JAY ST-METROTEC  40758.700
26              7 AV  40629.400
27     BOWLING GREEN  40088.100
28      BOROUGH HALL  39005.700
29    JAMAICA CENTER  38265.933
..               ...        ...
347  W 8 ST-AQUARIUM   1628.267
348        BAY 50 ST   1554.367
349            75 AV   1453.900
350      ATLANTIC AV   1360.933
351  E 143/ST MARY'S   1338.167
352      BUSHWICK AV   1253.833
353       NEPTUNE AV   1196.233
354         AVENUE I   1150.500
355      BEACH 36 ST   1124.533
356           190 ST   1008.367
357  AQUEDUCT RACETR    977.433
358      BEACH 90 ST    869.033
359         NEW LOTS    863.167
360  EASTN PKWY-MUSM    819.333
361   BOTANIC GARDEN    801.667
362      BEACH 44 ST    799.533
363  ROCKAWAY PARK B    739.800
364      BEACH 98 ST    625.500
365       9TH STREET    433.867
366    INWOOD-207 ST    410.667
367    TOMPKINSVILLE    407.333
368     BEACH 105 ST    361.967
369    BROAD CHANNEL    257.567
370           BOWERY     86.567
371  EASTCHSTER/DYRE    -24.318
372    RIT-MANHATTAN   -339.067
373    RIT-ROOSEVELT   -949.967
374        EUCLID AV  -1352.633
375   61 ST WOODSIDE  -3163.474
376  METS-WILLETS PT -28071.567

[377 rows x 2 columns]

In [23]:
#top_weekdays = weekday_average.loc[['GRD CNTRL-42 ST','34 ST-HERALD SQ','34 ST-PENN STA','42 ST-PORT AUTH','14 ST-UNION SQ',
 #                                  'TIMES SQ-42 ST','59 ST COLUMBUS','FULTON ST','FLUSHING-MAIN','PATH NEW WTC']]

In [24]:
#top_weekdays.head(50)

In [25]:
#top_weekdend = weekend_average.loc[['GRD CNTRL-42 ST','34 ST-HERALD SQ','34 ST-PENN STA','42 ST-PORT AUTH','14 ST-UNION SQ',
                                  # 'TIMES SQ-42 ST','59 ST COLUMBUS','FULTON ST','FLUSHING-MAIN','PATH NEW WTC']]